/* ------------------------------------------
              RESET
------------------------------------------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------------------------------------
              general
------------------------------------------- */

body{
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;
}

/* ------------------------------------------
              HEADER
------------------------------------------- */

header{
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 40px;
}


h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 40px;
}


.logo{
    vertical-align: middle;
}

/* ------------------------------------------
              MAIN
------------------------------------------- */

main{
    background-color: #ffffff;
    width: 800px;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}

.btn{
    background-color: transparent;
    border: 1px solid;
    padding: 7px;
    border-radius: 6px;
}

.btn-blue{
    background-color: #14AAF5;
    color: #ffffff;
}

.btn-white{
    color: #C4CBD0;
}
